:root {
  --primary-text-color: #212121; /*основной цвет текста*/
  --text-color: #757575; /*вторичный цвет текста*/
  --accent-color: #2196f3; /*цвет акцент*/
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;

  font-family: Roboto, sans-serif;
}

.list {
  list-style: none;
}

/*logo*/
.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

/*site-nav*/
.site-nav a {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/*auth-nav*/
.auth-nav a {
  color: var(--text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.auth-nav a:hover,
.auth-nav a:focus {
  color: var(--accent-color);
}

/*hero*/
.hero-title {
  color: var(--accent-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.hero-button {
  color: #ffffff;
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/*section*/
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-title-features {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.section-p {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*footer*/
.footer {
  background-color: #2f303a;
}

.logo-footer {
  color: #ffffff;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  padding-top: 25px;
  padding-left: 35px;
}

.address {
  color: #ffffff;

  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-left: 35px;
}

.footer-list a {
  color: rgba(255, 255, 255, 60%);

  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-list a:hover,
.footer-list a:focus {
  color: var(--accent-color);
}

/*портфолио*/
.filter-button-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-button-item:hover,
.filter-button-item:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.examples-list a {
  text-decoration: none;
}

.examples-list h2 {
  color: var(--primary-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list p {
  color: var(--text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
